body{
margin:0;
font-family:Sans;
background:#918151;
color:black;
text-align:center;
}

.app{
max-width:900px;
margin:auto;
padding:20px;
}

select{
padding:10px;
border-radius:5px;
margin-bottom:20px;
}

.current{
background:#d2b48c;
padding:20px;
border-radius:10px;
}

.hourly{
margin-top:20px;
background:#d2b48c ;
padding:15px;
border-radius:10px;
}

#hourly{
display:flex;
overflow-x:auto;
}

.hourCard{
background:#a67b5b;
margin:10px;
padding:10px;
border-radius:10px;
min-width:80px;
text-align:center;
}

.chart{
margin-top:20px;
background:#d2b48c ;
padding:15px;
border-radius:10px;
}

.daily{
margin-top:20px;
background:#d2b48c;
padding:15px;
border-radius:10px;
}

.dayRow{
display:flex;
justify-content:space-between;
border-bottom:1px solid #a0522d ;
padding:8px;
}

.prediction{
margin-top:20px;
background:#e9967a ;
padding:15px;
border-radius:10px;
text-align:left;
}
